{% extends "base/base.html" %}

{% block start %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-4">Sign Up</h3>
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        {% include "base/alert.html" %}
                        <div class="mb-3">
                            <label for="username" class="form-label">name</label>
                            <input type="text" name="first_name" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Last Name</label>
                            <input type="text" name="last_name" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="profile_image" class="form-label">Profile Image</label>
                            <input type="file" name="profile_image" class="form-control" id="profile_image">
                        </div>
                        <button type="submit" class="btn btn-custom w-100">Sign Up</button>
                    </form>
                    <p class="text-center mt-3">
                        Already have an account? <a href="{% url 'login' %}">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}